<div class="main__chatsSection">
    <div class="button__profile">
        <button type="{{type}}" class="button__chatsSection">{{profile}}</button>
        <img src="{{arrowRight}}" class="arrow__right" />
    </div>
    {{{inputSearchComponent}}}
    {{{chatItem}}}
</div>
