<div class="container__chat">
    <div class="header__chat">
        <div class="userInfo__chat">
            <div class="avatar__chat">
                {{photo}}
            </div>
            <div class="name__chat">
                {{name}}
            </div>
        </div>
        <img src="{{settingsSvg}}" class="settingsImg__chat" />
    </div>
    <div class="messages__chat">
        <div class="date__chat">
            {{date}}
        </div>
        <div class="incoming__chat">
            {{{incomingMessage}}}
            {{{photoMessage}}}
        </div>

    </div>
</div>

